@using Entities
@model PersonalCabinetModel
@{
    ViewData["Title"] = "PersonalCabinet";
}

<div class="personalCabinet">
    <div class="upperInfo">
        <div>
            <h1>@Model.Passenger.FirstName @Model.Passenger.SecondName</h1>
            <p>Тел.: @Model.Passenger.PhoneNumber</p>
            <p>Дата рождения: @Model.Passenger.BirthDate.ToString("yyyy/MM/dd")</p>
            <a asp-controller="PurchaseHistory" asp-action="Index">Посмотреть историю покупок</a>
        </div>

        <div class="tariffInfo">
            <div class="type">
                @if (@Model.Tariff is not null)
                {
                    <div class="valueOfType">Ваш тариф:  @Model.Tariff.Name </div>
                    @if (@Model.Ticket.TripRemains != null)
                    {
                        if (@Model.Ticket.TripRemains > 0)
                        {
                            <div class="infoContainer"><div class="type">Осталось поездок: </div> <div class="type">@Model.Ticket.TripRemains</div></div>

                        }
                        else
                        {
                            <div class="errorContainer">У Вас не осталось поездок!</div>
                        }
                    }
                    else
                    {
                        if (@Model.Ticket.Expiration > DateTime.Now)
                        {
                            <div class="infoContainer"><div class="type">Действителен до: </div> <div class="type"> @Model.Ticket.Expiration</div></div>
                        }
                        else
                        {
                            <div class="errorContainer">Время действия билета истекло!</div>
                        }
                    }

                    <a asp-controller="Tariff" asp-action="Index">Выбрать другой тариф</a>

                }
                else
                {
                    <div div class="valueOfType"> Вы пока не выбрали тариф </div>
                    <a asp-controller="Tariff" asp-action="Index">Выбрать тариф</a>
                }

            </div>
        </div>
    </div>

    @foreach (TripViewModel trip in @Model.Trips)
    {
        <div>
            <p class="valueOfType">
                @if (trip.TripTime.Year == DateTime.Now.Year && trip.TripTime.Month == DateTime.Now.Month && trip.TripTime.Day == DateTime.Now.Day)
                {
                    <text>Сегодня</text>
                }

                else if (trip.TripTime.Year == DateTime.Now.Year && trip.TripTime.Month == DateTime.Now.Month && trip.TripTime.Day == DateTime.Now.Day - 1)
                {
                    <text>Вчера</text>
                }

                else
                {
                    <text>@trip.TripTime.Year @trip.TripTime.Month @trip.TripTime.Day</text>
                }


                @if (trip.TripTime.Hour >= 0 && trip.TripTime.Hour <= 5)
                {
                    <text>ночью</text>
                }

                else if (trip.TripTime.Hour >= 6 && trip.TripTime.Hour <= 11)
                {
                    <text>утром</text>
                }

                else if (trip.TripTime.Hour >= 12 && trip.TripTime.Hour <= 18)
                {
                    <text>днем</text>
                }

                else
                {
                    <text>вечером</text>
                }

                Вас вёз:
            </p>

            <table class="driverTable">

                <tr>
                    <th>Водитель</th>
                    <th>Маршрут</th>
                    <th>Регистрационный номер</th>
                    <th>Время поездки</th>
                </tr>
                <tr>
                    <td>
                        <div class="photoContainer">
                            <img class=driverPhoto src="~/pics/driverPhotos/@trip.DriverPhotoPath">
                            <p class="driverName">@trip.DriverFirstName</p>

                        </div>
                    </td>

                    <td>
                        Маршрут @trip.Route
                    </td>
                    <td>
                        @trip.StockNumber
                    </td>
                    <td>
                        @trip.TripTime
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
